header {
    width: 100%;
    background: #fff;
}

body {
    font-size: 0.9rem;
    background: #ddd;
    margin: 0;
    font-family: Tahoma;
}

.headmenu {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

.headmenu__logo_wrapper {
    height: 3em;
    width: 10em;
    background: red;
}

.headmenu__links_wrapper {
    display: flex;
}

.link_wrapper {
    margin-left: 2em;
}

.x-container {
    width: 95%;
    max-width: 70vw;
    margin: 0 auto;
}

.await_section__grid {
    display: flex;
    flex-wrap: wrap;
}

.await_section__grid_item {
    box-sizing: border-box;
    width: 25%;
    padding-right: 1em;
}

h3 {
    font-size: 2em;
}

.grid_title {
    font-weight: 700;
    font-size: 1.3em;
}

.grid_text {
    font-size: 1.1em;
}